.container-topics {
    background-color: var(--color-blue);
    padding-top: 40px;
    padding-bottom: 80px;
}

.topics-card {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.topics-card:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.cardImgDiv {
    overflow: hidden;

    .cardImg {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

    }

    .cardImg:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}